@import 'reset.css';
@import 'fonts.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000;
}

p {
  font-family: 'AkzidenzGrotesk-Regular';
  font-size: 6vw;
  font-weight: normal;

  color: #fff;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

article {
  position: absolute;
  top: 171vw;
  left: 55vw;
}

article h1 {
  font-family: 'Ubuntu', sans-serif;;
  font-size: 7vw;
  font-weight: bold;

  color: #000;
}

article p {
  width: 63vw;
  font-family: 'AkzidenzGrotesk-Light';
  font-weight: 100;
  color: #000;
}

.letter-content {
  width: 100%;
    display: block;

    margin: 0 auto;
}

.letter-content .spot {
    position: absolute;
    z-index: -2;
    top: 33vw;

    display: block;

    width: 100%;
    margin: 0 auto;
}

.letter-content .group {
    display: block;

    width: 100%;
    margin: 0 auto;
}

.letter-content .letter {
    position: relative;
    z-index: -1;

    display: block;

    width: 100%;
    margin: 0 auto;
}

.letter-content-1 .info {
    width: 50vw;
}

.left-spot {
  position: absolute;
  top: 468vw;
  left: -2vw;;
}


.invite {
  margin-bottom: 25vw;
}

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;

    display: flex;

    width: 100%;
    height: 16vw;

    background-color: #f4d811;

    justify-content: space-between;
    align-items: center;
}

footer a {
    font-family: 'AkzidenzGrotesk-BoldCn';
    font-weight: 800;

    text-align: center;
    text-decoration: none;

    color: #000;
}

footer img {
    height: 18vw;
}

@media only screen and (min-width: 320px)
{
    .eyes {
      position: relative;
      z-index: -1;
      top: 9vw;
      left: 45%;
    }

    img.letter2 {
      position: absolute;
      z-index: -1;
      display: block;

      width: 125vw;
      margin: 0 auto;
      margin-bottom: 31vw;
    }

    img.letter7 {
        display: none;
    }

    img.absurd {
        display: none;
    }

    img.day {
        display: none;
    }

    img.open {
        display: none;
    }

    .spot {
        width: 31vw;
        margin-top: 28vw;
    }

    .left-content .content {
        width: 93vw;
        height: 125vw;
    }

    .left-info {
      position: absolute;
      top: 321vw;
      left: 21vw;
      width: 56vw;
    }

    .right-info {
        position: absolute;
        top: 406vw;
        left: 62vw;
        width: 50vw;
    }

    .animal {
      position: absolute;
      top: 546vw;
      left: 84vw;
      display:
    }

    .zebra {
      display: none;
    }

    h2 {
      font-size: 7vw;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
      margin-bottom: 1vw;
      color: #F4D811;
    }

    .invite {
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 515vw;
        margin-left: 20vw;
    }

    .tiger img {
      display: none;
    }

    footer {
      padding: 9vw 25vw 9vw 0;
    }

    footer a {
      font-size: 4vw;
    }
}
@media only screen and (min-width: 410px)
{
  article {
    left: 59vw;
  }

  .left-info
  {
    left: 26vw;
    width: 56vw;
  }

  .right-info {
    width: 50vw;
    font-size: 6vw;
    top: 513vw;
  }
}

@media only screen and (min-width: 768px)
{
    .eyes {
        position: relative;
        z-index: -1;
        width: 31vw;
        top: 27vw;
        left: 100vw;
    }

    img.letter2 {
      top: 38vw;
      width: 169vw;
      left: 30vw;
    }

    img.absurd {
        position: absolute;
        width: 94vw;
        top: 91vw;
        left: 95vw;
        display: block;
        width: 59vw;
    }

    img.day {
      position: absolute;
      top: 430vw;
      left: 134vw;
      display: block;
      width: 31vw;
    }

    img.open {
      position: absolute;
      top: 288vw;
      left: 95vw;
      display: block;
      width: 15vw;
    }

    article {
      top: 249vw;
      left: 113vw;
    }

    .left-info {
      width: 74vw;
      top: 423vw;
      left: 55vw;
      font-size: 6vw;
    }

    .right-info {
      width: 50vw;
      font-size: 6vw;
      top: 497vw;
      left: 121vw;
    }

    .letter-content .spot {
        position: absolute;
        top: 100vw;
        width: 200vw;
    }
    .left-spot img {
      width: 52vw;
      margin-top: 65vw;
      margin-top: -27vw;
    }

    .animal {
      display: none;
    }

    img.zebra {
      display: block;
      margin: 0 auto;
      margin-top: 776vw;
      margin-left: 81vw;
      margin-bottom: 50vw;
      width: 60vw;
    }

    .invite {
      text-align: center;
      display: block;
      width: 140vw;
      margin: 0 auto;
      margin-top: -172vw;
      margin-left: 40vw;
    }

    .invite h2 {
      font-size: 12vw;
      color: #F4D811;
      margin-bottom: 1vw;
    }

    .invite p {
      font-size: 8vw;
    }

    .tiger img {
      display: none;
    }

    footer a {
        font-size: 7vw;
    }
}

@media only screen and (min-width: 1024px)
{
    .eyes {
      position: relative;
      z-index: -1;
      top: 20vw;
      left: 94vw;
      width: 40vw;
    }

    img.absurd {
      padding-top: 25vw;
      top: 65vw;
      left: 92vw;
      }

    article {
      top: 247vw;
      left: 108vw;
    }

    article h1 {
      font-size: 9vw;
    }

    article p {
      font-size: 8vw;
    }

    img.open {
      top: 285vw;
      left: 96vw;
    }

    img.day {
      top: 434vw;
      left: 132vw;
    }

    .left-info {
      width: 80vw;
      font-size: 9vw;
      top: 468vw;
      left: 54vw;
    }

  .right-info {
    top: 564vw;
    left: 110vw;
    font-size: 9vw;
    width: 57vw;
  }

  .left-spot img {
    width: 52vw;
    position: absolute;
    top: 33vw;
  }

  .invite {
    margin-top: 12vw;
    margin-left: 32vw;
    }

  img.zebra {
    width: 94vw;
    margin-top: 742vw;
    margin-left: 73vw;
  }

  .tiger img {
    display: block;
    margin: 0 auto;
    margin-left: 59vw;
    width: 83vw;
    margin-bottom: 3vw;
  }

  footer {
    padding: 6vw 33vw 6vw 0;
  }

  footer img {
      height: 16vw;
  }

  footer a {
    font-size: 5vw;
  }
}
